<section class="containerMain">
    <section class="prose border-gray-500 card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100 mx-auto">
        <img 
            src="assets/logo.png" 
            alt="Logo de la aplicacion"
            class="mb-0"
        />
        
        <h2 class=" text-center my-3">Iniciar Sesión</h2>
        
        <form class="card-body">
            <article class="form-control">
                <label class="label">
                    <span class="label-text">Email</span>
                </label>
                <input type="email" placeholder="email" class="input input-bordered" required />
            </article>
            <article class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered" required />
                <label class="label">
                    <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
                </label>
            </article>
            <article class="form-control mt-6">
                <button class="btn btn-primary">Login</button>
            </article>
        </form>
    </section>
</section>